    <!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTask - Materia</title>
    <link href="../../assets/boostrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/cssactividad.css">
    <script src="../../assets/boostrap/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid px-4">
        <a href="#" class="navbar-brand">
            <img src="../../assets/img/logo.png" alt="Logo" width="200" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>.
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Mis Cursos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Actividades</a></li>
            </ul>
            <div class="user-icon ms-3">
            <i class="bi bi-person"></i>
            </div>
        </div>
        </div>
    </nav>

    <!-- CONTENIDO -->
    <div class="container container-main">
        <div class="row">
        <div class="col-12">
            <button class="title-page">⟵ Clave</button>
        </div>
        </div>

        <div class="row">
        <!-- COLUMNA IZQUIERDA -->
        <div class="col-lg-8">
            <div class="card-materia mb-4">
            <h4>Programacion Web</h4>
            <div class="mt-2">
                <span class="tag">8 Horas</span>
                <span class="tag">1 Hora P.</span>
                <span class="tag">4 Créditos</span>
                <span class="tag">Semestre</span>
            </div>
            </div>

            <!-- Tareas -->
            <div class="task-card">
            <div class="task-title">Realiza un Ensayo</div>
            <small>De desarrollo web</small>
            </div>
            <div class="task-card">
            <div class="task-title">Realiza un Ensayo</div>
            <small>De desarrollo web</small>
            </div>
            <div class="task-card">
            <div class="task-title">Realiza un Ensayo</div>
            <small>De desarrollo web</small>
            </div>
        </div>

        <!-- COLUMNA DERECHA -->
        <div class="col-lg-4">
            <div class="sidebar">
            <h5>Trabajo en Clase</h5>
            <a href="crear_actividad_2.html">
            <button class="btn btn-actividad mt-2">Crear Actividades</button>
            </a>
            </div>
        </div>
        </div>
    </div>
    </body>
    </html>
